body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 350px;
 font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 14px;
}

h2{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  justify-content: center;
  text-align: center;
}

#loading{
  margin-top: 10px;
  text-align: center;
}

