body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 550px;
 font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 14px;
}

h2 {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  justify-content: center;
  text-align: center;
}

#loading {
  margin-top: 10px;
  text-align: center;
}
td {
  border: 1px solid #ccc;
  padding: 6px;
  word-break: break-word;
  white-space: normal;
  box-shadow:
  0 2px 4px rgba(0, 0, 0, 0.15),
  0 6px 12px rgba(0, 0, 0, 0.08);
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
th {
  background-color: #f1eeee;
}

button {
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #1669c1;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

span {
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}








