body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 400px;
 font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 14px;
}

h2 {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  justify-content: center;
  text-align: center;
}

#loading {
  margin-top: 10px;
  text-align: center;
}
td {
  border: 1px solid #ccc;
  padding: 6px;
  word-break: break-word;
  white-space: normal;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #09e8f5;
}






